# Jupyter Notebook structure

Jupyter notebooks have two types of cells: one for notes/markdown (like this one) and one for code (like the next one). To run any cell and proceed to the next cell, use Shift-Enter. To run a cell and keep the focus in that cell, use Ctrl-Enter. There are two modes of each cell: Command mode (highlighted in blue on the left) and Edit mode (highlighted in green). To get a list of keyboard shortcuts for each mode, go to "Keyboard Shortcuts" in the above "Help" pulldown menu.

Please note that there are <i>many</i> helpful tutorials for Python on the web. With a little Googling you should be able to find one that suits your tastes and skill level. For example, for a focus on machine learning you could look [here](https://www.quora.com/What-is-the-best-Python-tutorial-for-machine-learning). If you'd like any suggestions, let us know.

In [41]:
6*9**2 - 486 + 54

54

Each cell for code can be run in any order. The notebook indicates next to it the order in which they have been run in. Code cells also have an output that is printed right below it.

## Shortcuts

- `ctrl-enter` to run code of cell while keeping focus
- `shift-enter` to run code of cell and jump to next

# Python Syntax

In [42]:
#The symbol for comments in code is the same as in R: the '#' symbol
euler = 2.71828     #to assign a value to a variable use the '=' symbol
euler            #to view the value of a variable, put it as the last line of the cell

2.71828

One of the main characteristics of python is its intentional "easy to read and write" syntax. Many programming languages such as C, C++, Java, etc. require the use of semicolons at the end of statements. Others, including R and Python, interpret the end of a line as the end of a statement. In almost every language there is no requirement for indentations when using conditional statements and loops, and consequently there is a requirement for brackets and parenthases. In Python brackets and parenthases are kept to minimal use and indentation is a requirement.

In [43]:
for i in range(5,10):    #the range(k,j) function is mostly the same as k:j in R, but is meant for loops.
    q = i + 6 - 8  #addition and subtraction
    q = (q*10)/4   #multiplication and division
    print((i,q**2))    #exponentiation

(5, 56.25)
(6, 100.0)
(7, 156.25)
(8, 225.0)
(9, 306.25)

In [44]:
h = 0
while h > -15 and h <= 15:
    h = h**2 +1
    print(h)

1
2
5
26

In [45]:
for j in range(10):
    if j%2 == 0 or j%7 == 0:  #if statements and modular arithmetic
        print(j)
    else:
        print("So sad")

0
So sad
2
So sad
4
So sad
6
7
8
So sad

# Lists

Some of the most well known features of python are related to its use of lists.

In [46]:
h = []    #to define a list use square brackets. This is kind of like c() in R, but is a list instead of a vector/array
type(h)

list

In [47]:
h = [(i**2 +3)%5 for i in range(10)]  #this way of building a list with a loop inside the brackets is called "list comprehension"
h

[3, 4, 2, 2, 4, 3, 4, 2, 2, 4]

The above kind of expression is very handy in Python. It's called a [list comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)

In [48]:
len(h)    #get the length of a list with the len() function, which is equivalent to R's length() function

10

In [49]:
h[0]    #index a list with square brackets, with 0 (instead of 1 as in R) representing the first element

3

In [50]:
h[0:2]   #index a range of elements in a list with the ':' symbol which starts with the first number and goes (exclusively) to
         #the last number

[3, 4]

In [51]:
h[:2]    #the first number can even be left off if we start from the beginning

[3, 4]

In [52]:
h[5:]    #and of course the last number can be left off if we go until the end

[3, 4, 2, 2, 4]

In [53]:
#What if we want to get the last element? In R we would need to do h[length(h)]. Python is a lot simpler
print(h[len(h)-1])
h[-1]

4

4

In [54]:
h[-3:]    #get the last 3 elements of a list

[2, 2, 4]

So what math operations can be applied to lists?

In [55]:
a = [1,2,3]
b = [7,8,9]
a + b     #Adding lists concatenates the two lists in the respective order

[1, 2, 3, 7, 8, 9]

In [56]:
a = ['hello', 2, "u"]   #and anything can go into a list
b = ["bye", 874]
a + b

['hello', 2, 'u', 'bye', 874]

In [57]:
#So does subtraction remove elements from a list?
l1 = ['a', 'b', 'c']
l2 = ['c']
l1 - l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
#Nope, one needs to use the .remove() function to do this
l1.remove('c')
l1

In [ ]:
g = [1,2]
6*g     #multiplication by an integer n concatenates n copies of that list together

## Vectors with Numpy

In [ ]:
#In order to do math operations on the elements of a list, we need to convert it to an array
import numpy as np    
#import packages with the import command, kind of like library() in R
g2 = [1,2,3,4]
# 3.14*g2

In [ ]:
3.14*np.array(g2)

In [ ]:
g1 = np.array([1,2,3,4])
g2 = np.array([5,10,15,20])
g1 + g2

In [ ]:
g1 - g2

In [ ]:
g1*g2

In [ ]:
g2/g1

In [ ]:
g3 = np.array([1, 2, 1, 2])
g1**g3

## Warning about shared list pointers
While lists are very flexible and easy to work with in python, there is also a major caution about them. If you define a list, set a new list equal to it, and perform some operation on the new list, the same operation is automatically applied to the original list.

In [ ]:
list1 = [(2*j)%3 for j in range(2,5)]
list1

In [ ]:
list2 = list1
list2

In [ ]:
list2[0] = -600
list1

To get around this issue, you can normally use the list() function and you'll be fine. This constructs a new list rather than creating a reference to the original list.

In [ ]:
list1 = [(2*j)%3 for j in range(2,5)]
list2 = list(list1)
list2[0] = 600
list1

# Strings

Strings are often easier to work with in python than R, simply because of many built in operations that work on them

In [ ]:
#Just like in R, you can use either single quotes 'string' or double quotes "string" in defining a string
s1 = 'look at-this_string!'
s2 = "Look at this 1 2!!!"

In [ ]:
s1[:4]   #index a range of characters in a string

In [ ]:
splitted = s2.split("this")    #split a string at a given sequence of characters to create a list
splitted

In [ ]:
splitted2 = s2.split(' ')
splitted2

In [ ]:
s1 + s2        #adding two strings concatenates them together in the respective order

In [ ]:
3*s2          #multiplying a string by an positive integer n concatenates n copies of that string

In [ ]:
integer1 = -9
float1 = 3.1415
string1 = 'Yale'
"How %d cool can st%frings get at %s !!"%(integer1, float1, string1)   #insert the value of a variable into a string. Kind of
                                                                         #like paste0() in R.

There's a plethora of additional string operations available in the "re" package. Check it out!

## F-strings

In [ ]:
# fmt strings
val = 1233423
string2 = f"How {val} are you?"
string2

# Functions

Other than the way they are defined, functions work essentially the same in Python as they do in R. Parenthases are for the arguments of the function, and remember that indentation is required for the tasks of the function.

In [ ]:
def myfunction(a, b = "great"):    #define a function with 'def', the same as 'myfunction <- function(a, b = "great"){}' in R
    h = [i*a for i in range(5)]
    for j in range(len(h)):
        h[j] = str(h[j]) + b
    return(h)

In [ ]:
myfunction(1)

In [ ]:
myfunction(5, b = " bulldogs")

# Dataframes

Dataframes are the most standard way of organizing data. They are similar to a matrix with each row representing a single observation and each column representing a variable. Dataframes in python work almost exactly the same as in R. The <i>pandas</i> package is what almost everyone uses for this.

In [61]:
import pandas as pd

In [62]:
iris = pd.read_csv("iris.csv")    #read in the dataset in the file "iris.csv" as a dataframe
iris                #view the dataframe

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
values = iris["Sepal.Width"].values            #select the column for Sepal.Width as an array

type(values) != type([])
print(type(values))
print(type(iris["Sepal.Width"]))

In [ ]:
values

In [ ]:
# only print out data frame where the species is virginica
iris_virginica = iris[iris["Species"] == "virginica"]
iris_virginica

There is a whole plethora of things you can do with pandas dataframes. For more details on them see [this link](https://towardsdatascience.com/pandas-dataframe-a-lightweight-intro-680e3a212b96) or just search <i>pandas dataframes</i> online.

# Plotting Data

In [ ]:
import matplotlib.pyplot as plt  #to plot data, one would need to import a plotting package. matplotlib.pyplot is my favorite

In [ ]:
x = np.linspace(-5, 5, 100) # the x-axis goes from -5 to 5, and split it into 100 equal increments/observations
y = 0.5*x**2                # the function to plot
plt.plot(x, y)    #plot the data
plt.xlabel("X-Axis", fontsize=14)   #add a label to the x axis
plt.ylabel("Y-Axis", fontsize=14)    #add a label to the y axis
plt.title("Python Plot", fontsize=16)   #add a plot title
plt.show()    #Show us the full plot

In [ ]:
randomx = np.random.normal(2, 1, 1000)    #does the same thing as 'rnorm(1000, 2, 1)' in R
randomx2 = np.random.uniform(4, 0, 1000)   #same as 'runif(1000, 0, 4)' in R
plt.hist(randomx, color='blue')       #plot the histogram of a single variable
plt.hist(randomx2, color='red', histtype=u'step', lw=3)      #plot another histogram on top of the first but don't fill in bins
plt.show()

In [ ]:
%matplotlib notebook

In [ ]:
x = np.random.uniform(-10, 10, 1000)         #simulate data based on a true model with normal noise
y = -5 + 1.2*x + 0.3*x**2 + np.random.normal(0, 3, 1000)

x_b4 = np.array([np.ones(1000), x, x**2])
# print(x_b4)
X = np.array([np.ones(1000), x, x**2]).T               #calculate the least-squares estimates of the coefficients
# print(X)
beta_hat = np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)
Y_hat = np.dot(X, beta_hat)

plt.scatter(x, y, alpha=0.3)    #plot the data
plt.plot(x, Y_hat, '.', c='r')   #show the least-squares fitted curve
plt.show()

beta_hat     #print the estimates of the coefficients

In [ ]:
from scipy import misc
%matplotlib inline

In [ ]:
image = misc.imread("yalelogo.jpeg")
type(image)

In [ ]:
np.shape(image)

In [58]:
plt.imshow(image[:,:,3], cmap=plt.cm.Blues)

NameError: name 'plt' is not defined

In [ ]:
image_matrix = np.array([[0.4*(i - 150)**2 + (j - 75)**2 for i in range(300)] for j in range(150)])
print(np.shape(image_matrix))
print(type(image_matrix))
plt.imshow(image_matrix, cmap = plt.cm.afmhot)

# Python Equivalents of Common R Commands

### Statistics

In [ ]:
#Python                                                        R
x1 = np.random.normal(0, 2, 100)                        # x1 <- rnorm(100, 0, 2)
x2 = np.random.uniform(-3, 8, 100)                      # x2 <- runif(100, -3, 8)
x3 = np.random.gamma(2, 3, 100)                         # x3 <- rgamma(100, 2, scale = 3)

In [ ]:
np.mean(x1)                                             # mean(x1)

In [ ]:
np.std(x1)                                              # sd(x1)

In [ ]:
np.median(x2)                                           # median(x2)

In [ ]:
np.max(x2)                                              # max(x2)

In [ ]:
np.min(x2)                                              # min(x2)

In [ ]:
np.percentile(x3, 90)                                   # quantile(x3, 0.9)

### Vectors and matrices

In [ ]:
#Python                                                         R
vec1 = np.linspace(-6, 10, 10)                         # vec1 <- seq(-6, 10, length.out = 10)
vec2 = np.arange(10)                                   # vec2 = 0:9

In [ ]:
np.sort(vec1**2)                                       # sort(vec1^2)

In [ ]:
np.argsort(vec1**2)                                    # order(vec1^2)

In [ ]:
np.where((vec1 >= 3) & (vec1 < 9))[0]                  # which((vec1 >= 3) & (vec1 < 9))

In [ ]:
np.vstack((vec1, vec2))                                # rbind(vec1, vec2)

In [ ]:
np.vstack((vec1, vec2)).T                             # cbind(vec1, vec2)

In [ ]:
np.dot(vec1, vec2)                                    # t(vec1) %*% vec2

### Math Operations

In [ ]:
# Python                                                      R
x = np.pi                                             # x = pi
np.sin(x)                                             # sin(x)

In [ ]:
np.cos(x)                                             # cos(x)

In [ ]:
np.tan(x)                                             # tan(x)

In [ ]:
np.exp(x)                                             # exp(x)

In [ ]:
np.log(x)                                             # log(x)

# Example: Linear Regression

To perform linear regression in python we need to import a package such as <i>statsmodels, scipy, sklearn,</i> etc. There are also ways to do it directly with pandas dataframes, <i>Tensorflow</i>, etc.

$Sepal.Length_{i} = \beta_{0} + \beta_{1} Sepal.Width_{i} + \beta_{2} Petal.Width_{i} + \beta_{3} Petal.Length_{i} + \varepsilon_{i}$

In [64]:
import statsmodels.api as sm
model = sm.OLS(iris["Sepal.Length"], sm.add_constant(iris[["Sepal.Width", "Petal.Width", "Petal.Length"]])).fit()

/Users/sarimabbas/Developer/dataScience/sds355_container/sds355_env/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [65]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Sepal.Length   R-squared:                       0.859
Model:                            OLS   Adj. R-squared:                  0.856
Method:                 Least Squares   F-statistic:                     295.5
Date:                Fri, 13 Sep 2019   Prob (F-statistic):           8.59e-62
Time:                        00:38:55   Log-Likelihood:                -37.321
No. Observations:                 150   AIC:                             82.64
Df Residuals:                     146   BIC:                             94.69
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            1.8560      0.251      7.401      0.000       1.360       2.352
Sepal.Width      0.6508      0.067      9.765      0.000       0.519       0.783
Petal.Width     -0.5565      0.128     -4.363      0.000      -0.809      -0.304
Petal.Length     0.7091      0.057     12.502      0.000       0.597       0.821
==============================================================================
Omnibus:                        0.345   Durbin-Watson:                   2.060
Prob(Omnibus):                  0.842   Jarque-Bera (JB):                0.504
Skew:                           0.007   Prob(JB):                        0.777
Kurtosis:                       2.716   Cond. No.                         54.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [63]:
iris[["Sepal.Width", "Petal.Width", "Petal.Length"]]

     Sepal.Width  Petal.Width  Petal.Length
0            3.5          0.2           1.4
1            3.0          0.2           1.4
2            3.2          0.2           1.3
3            3.1          0.2           1.5
4            3.6          0.2           1.4
..           ...          ...           ...
145          3.0          2.3           5.2
146          2.5          1.9           5.0
147          3.0          2.0           5.2
148          3.4          2.3           5.4
149          3.0          1.8           5.1

[150 rows x 3 columns]